/* DEFAULT STYLE FOR MOBILE DEVICES! CONSIDERING DESIGNING FOR USER FIRST IS A GOOD PRACTICE BECAUSE MOST PEOPLE USE PHONE NOWADAYS */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --main-off-white: #F5F5F5;
  --main-light-gray: #F0F0F0;
  --menu-toggle-dark: #333;
  --body-font-family: "Roboto", "Open Sans", "Lato", "Merriweather";
  --header-font-family: "Oswald", "Montserrat", "Playfair";
  --small-screen-font-size: 1rem;
  --medium-screen-font-size: 1.125rem;
  --large-screen-font-size: 1.25rem;
  --small-H1-font-size: 24px;
  --medium-H1-font-size: 28px;
  --large-H1-font-size: 32px;
  --small-H2-font-size: 21px;
  --medium-H2-font-size: 25px;
  --large-H2-font-size: 29px;
  --small-text-font-size: 12px;
  --medium-small-text-size: 14px;
  --large-small-text-size: 16px;
}



/* General Styles */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-gray);
  font-family: var(--body-font-family);
  font-size: var(--small-screen-font-size);
  color: var(--main-off-white);
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  font-weight: bold;
}

h1 {
  font-size: var(--small-H1-font-size);
}

h2 {
  font-size: var(--small-H2-font-size);
}

h3 {
  font-size: 18px;
}

/* General style ends */

/* Header Styles */
#main-header {
  flex-direction: row;
  position: static;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--main-red);
  z-index: 100;
  padding: 10px;
}

/* Header style ends */

/* Navigation Styles start*/
.nav-toggle {
  display: flex;
  /* set toggle to flex */
  flex-direction: column;
  /* make toggle bar  ontop each other */
  justify-content: space-between;
  /* add space between toggle bars */
  width: 50px;
  /* button toggle  width */
  height: 50px;
  /* toggle button height */
  cursor: pointer;
  /* change cursor to pointer on hover*/
}

/* toggle span- bar style */
.nav-toggle .bar {
  width: 100%;
  /* make each bar take the toggle width */
  height: 3px;
  /* bar height */
  background-color: var(--menu-toggle-dark);
}

/* toggle span- bar style end */

.nav {
  display: none;
  /* hide the nav on small device to show the toggle button */
  flex-direction: column;
  align-items: center;
  /* make the navstack vertically */
}

.nav.active {
  display: flex;
  /* turn the display to flex from none when toggle button is clicked */
}

.navlist {
  list-style: none;
  /* remove list style decoration */
  padding: 0;
  /* remove padding */
}

.navlist a {
  text-decoration: none;
  /* remove text decoration */
  color: var(--main-white);
  width: 70%;
  display: block;
}

.navlist a:hover {
  text-decoration: none;
}

.navlist:visited {
  color: var(--main-light-gray);
}

/* add focus to link */
.navlist a:focus {
  outline: 2px solid var(--main-red);
  /* outline color, useful for accessibility purposes e.g navigating with keyboard */
  background-color: var(--main-light-gray);
  color: var(--main-blue);
  /* change text color */
  border-radius: 5px;
  /* rounded corners */
}

/* Navigation style ends */

/* Typography */
h1,
h2,
.h3 {
  font-family: var(--header-font-family);
  color: var(--main-white);
  margin: 1rem;
}

p {
  display: block;
  color: var(--main-white);
}

.welcomep {
  padding: 10px;
}

div.paragraphDiv {
  width: 100%;
  margin: 2rem auto;
}

p.contactp {
  width: fit-content;
  font-size: .6em;
  text-align: justify;
}

/* Typography end */
/* Profile image style */

div.profile-card {
  display: block;
  box-shadow: 5px 5px 10px var(--main-blue);
  padding: 2rem 3rem;
  position: relative;
  max-width: 500px;
  margin: 1rem auto;
  overflow: hidden;
  background-color: var(--main-off-white);
  color: var(--menu-toggle-dark);
}

.name {
  font-size: 1.6rem;
  margin-top: 2rem;
  color: var(--main-gray);
  white-space: normal;
  text-align: center;
  box-shadow: 2px 2px 5px var(--main-blue);
}

.card-p {
  font-size: 1.3rem;
  box-shadow: 2px 2px 5px var(--main-blue);
  color: var(--main-red);
  text-align: center;
}

div .profile-img {
  position: relative;
  width: 100%;
  padding-top: 15px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

div .profile-img:hover {
  transform: scale(1.1);

}



/* Profile image style END*/
/* Base Style for Links - Mobile First */
a:link {
  color: var(--main-light-gray);
  font-size: 1.1rem;
  /* Mobile font size */
  text-decoration: none;
}

a:visited {
  color: var(--main-off-white);
}

/* Hover Style */
a:hover {
  color: var(--main-red);
  background-color: var(--main-off-white);
  text-decoration: underline;
  padding: 12px;
  border-radius: 8px;
}

a:active {
  color: var(--main-light-gray);
}

/* Default link style ends here */
hr {
  height: 5px;
  width: 100%;
  border: 1px solid var(--menu-toggle-dark);
  background-color: var(--main-blue);
  margin-bottom: 10px;
  border-radius: 10px;
}

/* Footer Styles */
footer {
  bottom: 0;
  background-color: var(--main-red);
  padding: 10px;
}

footer .anchor {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.anchor a {
  width: 100px;
}

footer h2 {
  margin-left: 0;
  font-size: 1.6rem;
}

/* Footer style ends here */


/* Image Styles */
img {
  display: block;
}

.project-section {
  position: relative;
  padding: 2rem;
  background-color: var(--main-gray);
  color: var(--main-off-white);
  text-align: center;
}

.myProjects {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.project-item {
  position: relative;
  background-color: var(--main-light-gray);
  border-radius: 10px;
  padding: 1rem 3rem;
  margin: 0 1rem;
  max-width: 350px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.658);
}

.project-images {
  /* responsive image */
  position: relative;
  width: 100%;
  padding-top: 15px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.project-images:hover {
  transform: scale(1.1);
}

.project-item p {
  font-size: 1.1rem;
  width: 100%;
  text-align: left;
  margin: 0.5rem 0;
  color: var(--main-gray);
  font-weight: bold;
}

.project-item .h3p {
  font-size: 19px;
  color: var(--main-gray);
  margin-top: 1.1rem;
  margin-bottom: auto;
}

.project-item a {
  display: inline-block;
  margin-top: 1rem;
  color: var(--main-red);
  text-decoration: none;
  font-weight: bold;
}

.project-item a:hover {
  text-decoration: underline;
}

#projects {
  margin: 1rem auto;
}

/* General image style ends here */


/* MEDIUM SCREEN FOR TABLETS */
/* THIS style become active when the device is 600px and higher */
@media (min-width: 600px) {
  body {
    font-size: var(--medium-screen-font-size);
  }

  header {
    height: 100px;
  }



  /* Navigation links */
  /* Hide the hamburger button on larger screens */
  .nav-toggle {
    display: none;
  }

  /* Display the normal nav list on larger screens */
  .nav {
    display: block;
    /* Show the nav */
    position: static;
    /* Reset position */
  }



  /* Display nav items in a row on tablets and desktops */
  .navlist {
    display: flex;
    /* Flexbox for horizontal layout */
    justify-content: flex-end;
    gap: 20px;
  }

  /* Navigation links */
  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
  }

  li a:link {
    font-size: 2rem;
    margin-right: 20px;
  }

  h1,
  h2 {
    margin-left: 20px;
  }

  .project-item p {
    font-size: 1.1rem;

  }

  .project-item h3 {
    font-size: 2rem;

  }

  .project-item a {
    font-size: .5em;
  }


  main {
    margin-top: 8rem;
  }

  footer .anchor {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  footer h2 {
    font-size: var(--medium-H2-size);
  }



  h1 {
    font-size: var(--medium-H1-font-size);
  }

  h2 {
    font-size: var(--medium-H2-font-size);
  }

  h3 {
    font-size: 19px;
  }

  small {
    font-size: var(--medium-small-text-size);
  }
}

/* LARGER SCREEN FOR DESKTOP */
/* This style becomes active when the device is 1024px and higher
*/
@media (min-width: 1024px) {
  body {
    font-size: var(--large-screen-font-size);
    display: grid;
    grid-template-areas:
      "header header header"
      "main main aside"
      "footer footer footer";
  }

  header {
    grid-area: header;
    position: static;
    max-height: 100px;
    border-bottom: 5px solid var(--main-blue);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    width: 100%;
  }

  h1 {
    font-size: var(--large-H1-font-size);
  }

  h2 {
    font-size: var(--large-H2-font-size);
  }

  #projects .h3 {
    font-size: 22px;
    margin: 1rem;
  }


  li a:link {
    font-size: 2rem;
  }

  main {
    grid-area: main;
  }

  p {
    font-size: .5em;
  }

  p.welcomep,
  p.contactp {
    font-size: 1.7rem;
  }


  p.contactp,
  blockquote {
    width: 90%;
    padding: 10px;
    text-align: left;
  }


  main {
    margin-top: 2rem;
  }

  div.hero {
    display: grid;
    grid-template-columns: [profile-pic] 1fr [welcome-section]2fr;
    grid-template-rows: auto;
    gap: 10px;
    width: 100%;
  }

  /*  section#projects {
    width: 50%;
  }

  div.profile-card {
    width: 30%;
  } */

  .project-item {

    max-width: 400px;
    height: auto;
  }

  .project-item p {
    font-size: 1.1rem;

  }

  .project-item .h3p {
    font-size: 2rem;

  }

  .project-item a {
    font-size: 1.1rem;
  }

  footer {
    padding: 20px;
    grid-area: footer;
    margin-top: 5rem;
  }

  footer .anchor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  footer .anchor a {
    font-size: 2rem;
    width: max-content;
  }

  footer h2 {
    font-size: 2rem;
  }

  footer p.paragraph {
    font-size: 2.2rem;
  }

  small {
    font-size: var(--large-small-text-size);
    margin: 1rem;
  }
}